In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# if possible, read this from SQL
df = pd.read_csv(
    Path('csv/Patient_data.csv')
)

# Review the DataFrame
df.head()

,PatientID,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,...,AgeCategory,HeightInMeters,WeightInKilograms,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,0,0,1,3,4.0,0.0,0,1,9.0,0,...,0,1.60,71.67,0,0,1,1,0,0,0
1,1,0,0,3,0.0,0.0,0,1,6.0,0,...,1,1.78,95.25,0,0,1,1,1,0,0
2,2,0,0,3,0.0,0.0,0,0,8.0,1,...,2,1.85,108.86,1,0,0,1,2,0,1
3,3,0,1,1,5.0,0.0,0,1,9.0,0,...,3,1.70,90.72,0,0,1,1,2,0,1
4,4,0,1,2,3.0,15.0,0,1,5.0,2,...,3,1.55,79.38,0,0,1,1,2,0,0

In [3]:
heartdisease = []
# If patient had heart attack or angina, they will be classified as having heart disease
for index, row in df.iterrows():
    if (row['HadHeartAttack'] + row['HadAngina']) > 0:
        heartdisease.append(1)
    else:
        heartdisease.append(0)
# use these results as y variable for building model
y = pd.DataFrame(heartdisease,columns=['HadHeartDisease'])
y

        HadHeartDisease
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
246017                0
246018                0
246019                0
246020                0
246021                1

[246022 rows x 1 columns]

In [4]:
# drop heart attack and angina column from original df. this will be used as the X variables
X = df.drop(columns=['HadHeartAttack','HadAngina'])
X

,PatientID,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,...,AgeCategory,HeightInMeters,WeightInKilograms,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,0,0,1,3,4.0,0.0,0,1,9.0,0,...,0,1.60,71.67,0,0,1,1,0,0,0
1,1,0,0,3,0.0,0.0,0,1,6.0,0,...,1,1.78,95.25,0,0,1,1,1,0,0
2,2,0,0,3,0.0,0.0,0,0,8.0,1,...,2,1.85,108.86,1,0,0,1,2,0,1
3,3,0,1,1,5.0,0.0,0,1,9.0,0,...,3,1.70,90.72,0,0,1,1,2,0,1
4,4,0,1,2,3.0,15.0,0,1,5.0,2,...,3,1.55,79.38,0,0,1,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246017,246017,53,0,3,0.0,0.0,2,1,6.0,0,...,6,1.78,102.06,1,0,0,0,1,0,0
246018,246018,53,1,1,0.0,7.0,0,1,7.0,0,...,10,1.93,90.72,0,0,0,0,2,0,1
246019,246019,53,0,2,0.0,15.0,0,1,7.0,2,...,0,1.68,83.91,1,1,1,1,1,0,1
246020,246020,53,1,4,2.0,2.0,0,1,7.0,0,...,4,1.70,83.01,0,1,1,0,1,0,0
246021,246021,53,0,3,0.0,0.0,0,0,5.0,0,...,1,1.83,108.86,0,1,1,1,2,0,1

In [5]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=7)

In [6]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
reg_model = LogisticRegression(solver='newton-cg')

# Fit the model using training data
model = reg_model.fit(X_train, y_train)

c:\ProgramData\anaconda3\envs\dev\lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ProgramData\anaconda3\envs\dev\lib\site-packages\scipy\optimize\_linesearch.py:466: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
c:\ProgramData\anaconda3\envs\dev\lib\site-packages\scipy\optimize\_linesearch.py:314: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
c:\ProgramData\anaconda3\envs\dev\lib\site-packages\sklearn\utils\optimize.py:211: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn(

In [7]:
# Make a prediction using the testing data
prediction = reg_model.predict(X_test)

In [8]:
# Generate a confusion matrix for the model
confusion_matrix = confusion_matrix(y_test, prediction)
confusion_matrix

array([[55676,   488],
       [ 4753,   589]], dtype=int64)

In [9]:
# Print the classification report for the model
class_report = classification_report(y_test, prediction)
print(class_report)

              precision    recall  f1-score   support

           0       0.92      0.99      0.96     56164
           1       0.55      0.11      0.18      5342

    accuracy                           0.91     61506
   macro avg       0.73      0.55      0.57     61506
weighted avg       0.89      0.91      0.89     61506